---
import Sidebar from "../components/Sidebar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Busqueda">
    <div class="bg-base overflow-y-auto w-screen h-screen antialiased">
        <div class="flex flex-row relative h-screen">
          <Sidebar/>
          <div class="flex-1 overflow-auto w-4/5 ">
            <div class="w-full h-full bg-slate-800">
            
            </div>
          </div>
        </div>
      </div>
</Layout>
