---
import { Sliders, ChevronRight } from "lucide-astro";
---

<aside class="h-full hidden md:flex flex-col p-4 gap-2 w-1/5">
  <div
    class="rounded-2xl border border-gray-200 flex flex-col py-8 px-5 items-center justify-start w-full h-full"
  >
    <div class="w-full flex justify-between">
      <h1 class="font-bold uppercase text-xl">Filtros</h1>
      <Sliders class="" />
    </div>
    <div class="divider h-1 rounded-full"></div>
    <ul class="flex flex-col justify-center gap-3 w-full">
      <li
        class="flex justify-between items-center hover:bg-slate-200 hover:cursor-pointer p-2 transition-all rounded-md"
      >
        <p class="text-lg antialiased">Camisas</p>
        <ChevronRight />
      </li>
      <li
        class="flex justify-between items-center hover:bg-slate-200 hover:cursor-pointer p-2 transition-all rounded-md"
      >
        <p class="text-lg antialiased">Buzos</p>
        <ChevronRight />
      </li>

      <li
        class="flex justify-between items-center hover:bg-slate-200 hover:cursor-pointer p-2 transition-all rounded-md"
      >
        <p class="text-lg antialiased">Pantalonetas</p>
        <ChevronRight />
      </li>
      <li
        class="flex justify-between items-center hover:bg-slate-200 hover:cursor-pointer p-2 transition-all rounded-md"
      >
        <p class="text-lg antialiased">Zapatos</p>
        <ChevronRight />
      </li>
    </ul>
    <div class="divider h-1 rounded-full"></div>
    <div class="rounded-lg p-6 w-full max-w-md">
      <div class="mb-4">
        <label for="price-range" class="block text-gray-700 font-bold mb-2"
          >Rango de precio</label
        >
        <input
          type="range"
          id="price-range"
          class="w-full accent-indigo-600"
          min="0"
          max="100000"
          value="25000"
          oninput="updatePrice(this.value)"
        />
      </div>
      <div class="flex justify-between text-gray-500">
        <span id="minPrice">$25000</span>
        <span id="maxPrice">$100000</span>
      </div>
    </div>
    <div class="divider h-1 rounded-full"></div>
    <h1 class="font-semibold text-lg self-start">Tallas</h1>
    <div class="grid grid-cols-3 mt-3 grid-rows-auto gap-2">
      <button
        name="TallaSeleccionada"
        class="btn w-full hover:ring transition-all focus:bg-black focus:text-white text-black border-2 border-gray-400 border-dashed focus:border-none"
      >
      SM
      </button>
      <button
      name="TallaSeleccionada"
      class="btn w-full hover:ring transition-all focus:bg-black focus:text-white text-black border-2 border-gray-400 border-dashed focus:border-none"
    >
    Xl
    </button>
    <button
    name="TallaSeleccionada"
    class="btn w-full hover:ring transition-all focus:bg-black focus:text-white text-black border-2 border-gray-400 border-dashed focus:border-none"
  >
  XXL
  </button>
    </div>
    <div class="divider h-1 "></div>
    <button class="w-4/5 mx-auto btn bg-black rounded-full text-white text-center ">Aplicar filtro</button>
  </div>
</aside>

<script is:raw>
  function updatePrice(value) {
    document.getElementById("minPrice").textContent = "$" + value;
  }
</script>
