<div
  class="bg-black flex md:flex-row rounded-2xl p-4 flex-col md:justify-around w-full h-full items-center"
>
  <div class=" w-full md:w-3/5">
    <h2
      class="text-white font-extrabold md:text-4xl text-2xl  text-center  uppercase antialiased"
    >
      Subscribete para recibir grandes promociones
    </h2>
  </div>
  <div class="flex gap-4 flex-col justify-center w-full md:w-2/5 items-center">
    <input type="text" class="input w-full" placeholder="Correo Electronico" />
    <button class="btn bg-white text-black w-full rounded-full text-center "
      >Subscribete!</button
    >
  </div>
</div>
