---
interface Props {
  title: string;
}
import { AstroSeo } from "@astrolib/seo";

const { title } = Astro.props;

import BarraAnuncio from '../components/BarraAnuncio.astro'
import Navbar from '../components/Navbar.astro'
import Footer from "./Footer.astro";
---

<html data-theme="light" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/Capa 0.png" />
    <meta name="generator" content={Astro.generator} />
    
    <AstroSeo
      title="Blackwolf"
      description=""
      canonical=""
      openGraph={{
        url: "https://www.url.ie/a",
        title: "Open Graph Title",
        description: "Open Graph Description",
        images: [
          {
            url: "https://www.example.ie/og-image-01.jpg",
            width: 800,
            height: 600,
            alt: "Og Image Alt",
            type: "image/jpeg",
          },
          {
            url: "https://www.example.ie/og-image-02.jpg",
            width: 900,
            height: 800,
            alt: "Og Image Alt Second",
            type: "image/jpeg",
          },
          { url: "https://www.example.ie/og-image-03.jpg" },
          { url: "https://www.example.ie/og-image-04.jpg" },
        ],
        site_name: "SiteName",
      }}
      twitter={{
        handle: "@handle",
        site: "@site",
        cardType: "summary_large_image",
      }}
    />
    <title>{title}</title>
  </head>
  <body>
    <BarraAnuncio/>
    <Navbar/>
    <slot />
    <Footer/>
    <style is:global>
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }

      *{box-sizing: border-box;
        padding: 0;
      margin: 0;}

      *::-webkit-scrollbar {
        width: 7px;
      }

      *::-webkit-scrollbar-thumb {
        background: #a3a3a3;
      }

      body::-webkit-scrollbar{
        width: 1px;
      }
    </style>
  </body>
  <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
</html>
